services:
  - type: web
    name: hrms-lite-backend
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn main:app --host 0.0.0.0 --port $PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.13.5
      - key: MONGODB_URI
        sync: false
      - key: PORT
        value: 8000
    rootDir: backend
